.App {
  text-align: center;
}

.App-header {
  background-color: #8076dd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.Form-log {
  background-color: #c2bdf3;
  border-radius: 20px;
  padding: 0.75rem;
  margin: 0.5rem;
}

.Form-todo {
  background-color: #4c41b1;
  border-radius: 20px;
  padding: 0.75rem;
  margin: 0.5rem;
}

.userInput{
  width:100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
@media screen and (max-width: 1000px){
  .userInput{
    width: 75%;
    height: 20%;
    margin:5px 95px 5px 95px;
    padding: 10px;
  }
}